<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247198192999-8gvu2dbtbmgeqkavgts8c1vqjnf99f44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247198192999-8gvu2dbtbmgeqkavgts8c1vqjnf99f44</string>
	<key>API_KEY</key>
	<string>AIzaSyDAkP8ElaqV7HQf8py_qRfYVC4sq_7NiIg</string>
	<key>GCM_SENDER_ID</key>
	<string>247198192999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evac</string>
	<key>PROJECT_ID</key>
	<string>posst-service</string>
	<key>STORAGE_BUCKET</key>
	<string>posst-service.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247198192999:ios:a428e717870bbae8f2cbc2</string>
</dict>
</plist>